header{
    position: relative;
    height: 208px;
    clear: both;

    box-shadow: 0 1px 10px black;
}
header h1,h3{
    text-align: center;
    display: inline-block;
    font-weight:bold;
    transition: all 2s;
}
header h1{
    font-family: "Gunny Rewritten", Arial, sans-serif;
    font-size: 7em;
    text-shadow: 0 0 25px #767677;
    color: rgb(255, 171, 0);
    margin: 0;
    z-index: 5;
}
header h3{
    font-family: "Lobster", Arial, sans-serif;
    font-size: 2em;
    color: #deff42;
    z-index: 50;
}
header .center{
    width: 464px;
    position: absolute;
    top: 22px;
    left: 50%;
    margin-left: -232px;
}